/*-----------------------------------------------
    TABLE OF CONTENT
---------------------------------------------- */
:root {
    --navbar: 0;
    --hero: 0;
    --: 0;
}

/*-----------------------------------------------
    FONT SETTINGS
---------------------------------------------- */
@import url(https://fonts.googleapis.com/css2?family=Poppins);

/*-----------------------------------------------
    FONT SETTINGS
---------------------------------------------- */
:root {
    --font-navbar: lighter .8rem "Poppins";
}

/*-----------------------------------------------
    COLORS SETTINGS
---------------------------------------------- */
:root {
    --white: hsl(0, 0%, 100%);
    --slate: 0, 0%, ;
    --slate-100: hsl(0, 0%, 95%);
    --slate-150: hsl(0, 0%, 90%);
    --slate-200: hsl(0, 0%, 85%);
    --slate-250: hsl(0, 0%, 80%);
    --slate-300: hsl(0, 0%, 75%);
    --slate-350: hsl(0, 0%, 70%);
    --slate-400: hsl(0, 0%, 65%);
    --slate-450: hsl(0, 0%, 60%);
    --slate-500: hsl(0, 0%, 55%);
    --slate-550: hsl(0, 0%, 50%);
    --slate-600: hsl(0, 0%, 45%);
    --slate-650: hsl(0, 0%, 40%);
    --slate-700: hsl(0, 0%, 35%);
    --slate-750: hsl(0, 0%, 30%);
    --slate-800: hsl(0, 0%, 25%);
    --slate-850: hsl(0, 0%, 20%);
    --slate-900: hsl(0, 0%, 15%);
    --slate-950: hsl(0, 0%, 5%);
    --black: hsl(0, 0%, 0%);
    --blac: hsla(0, 0%, 0%, 0.579);

    --blue: 196, 100%, ;
    --blue-100: hsl(196, 100%, 90%);
    --blue-200: hsl(196, 100%, 80%);
    --blue-300: hsl(196, 100%, 70%);
    --blue-400: hsl(196, 100%, 60%);
    --blue-500: hsl(196, 100%, 50%);
    --blue-600: hsl(196, 100%, 40%);
    --blue-700: hsl(196, 100%, 30%);
    --blue-750: hsl(196, 100%, 25%);
    --blue-800: hsl(196, 100%, 20%);
    --blue-850: hsl(196, 100%, 15%);
    --blue-900: hsl(196, 100%, 10%);
}

/*-----------------------------------------------
    GLOBAL RESET
---------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

a {
    text-decoration: none;
    color: inherit;
    opacity: .7;
}

/*-----------------------------------------------
    NAVBAR
---------------------------------------------- */
.direction {
    --navbar: 0;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    padding: .5rem 0;
    z-index: 1000;
    background: hsl(var(--slate)10%, 0.800);
    backdrop-filter: blur(4px);
}

nav * {
    list-style: none;
    font: var(--font-navbar);
    color: hsl(var(--slate)70%);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

header:first-child nav div {
    transform: translateX(100%);
}

.nav-hover {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.nav-hover:hover,
.nav-hover:hover * {
    color: hsl(var(--slate)100%);
}

/*----- BURGER -----*/

.burger {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 16px;
    align-items: center;
    justify-content: space-between;
}

.burger input[type=checkbox] {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
}

.burger span {
    width: 100%;
    height: 2.5px;
    background: hsl(var(--slate)70%);
    border-radius: 1rem;
}

.burger span:nth-child(2) {
    margin-right: auto;
}

.burger span:nth-child(4) {
    margin-left: auto;
}

.burger input[type=checkbox]:hover~span {
    width: 40%;
    transform: rotate(.5turn);
    background: hsl(var(--slate)100%);
}

.burger input[type=checkbox]:checked~span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 2.5px 5.5px;
    width: 26px;
}

.burger input[type=checkbox]:checked~span:nth-child(3) {
    transform: scale(0);
}

.burger input[type=checkbox]:checked~span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 7.5px -1.5px;
    width: 26px;
}